<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/hamburger.pug
      include includes/header.pug
    main
      div#allpost
        div.thumbnail
          a(href="a" alt="a")
            img(src="material/image_1.jpg")
            div.thumbnail_text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, culpa at voluptatem iste atque? Amet numquam, modi dolorem, dignissimos quo sed quam qui officia illum ipsum tempore, nostrum reprehenderit similique.
          
        

        
  include includes/footer.pug
  
