<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/header.pug
    main
      div.newpost
        div.newpost_backgreen
        div.newpost_wrap
          div.newpost_symbol
            p New post
          div.newpost_view
            div.newpost_view_sentence
              h1.title これは一番新しい記事です
              p 一番新しい記事です......
            div.newpost_view_img
              img(src="material/image_12.jpg")
          
          
      
  include includes/footer.pug
  
