<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/hamburger.pug
      div.logo
        img(src="material/rbhugram.svg")
    main
      include includes/hide.pug
      div.sec_container
        div.textbox.contents_box
          div.textbox_section
            //- section
            include:markdown-it markdowns/note_jsES6.md
        div.imagebox.contents_box
          div.imagebox_content
            img(src="")
          
  include includes/footer.pug
  
