nav.hammenu
  div.hammenu_icon
    div.hammenu_icon_hover
      span
      span
      span
      span
      span
  div.hammenu_back
    div.hammenu_back_screen
      nav.menucontent
        ul
          li All Posts
          li Category
          li About
          li
            form(method="get" action="http://www.google.co.jp/search" target="_blank")
              input(class="search_window"  value="" type="text")
              input(class="secrch_icon" name="btng" value="" type="submit")
              input(name="hl" value="ja" type="hidden")
