div.headerwrap
  img(src="material/rbhugram.svg")
  nav.headerwrap_menu
    ul
      li Allpost
      li Category
      li About
      li
        form(method="get" action="http://www.google.co.jp/search" target="_blank")
          input(class="search_window"  value="" type="text")
          input(class="secrch_icon" name="btng" value="" type="submit")
          input(name="hl" value="ja" type="hidden")
